body{
	min-width: 100%;
	text-align: center;
}
#all{
	width:100%;
	margin: 0 auto; /*centers the website*/
}

#likes{
	height:5px;
	width:50%;
	background:#7aa8ff;
	float:left;
}
#dislikes{
	height:5px;
	width:50%;
	background:rgb(255, 118, 118);
	float:right;
}

#bar{
	margin:0 auto;
	width:80%;
}
